<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.physical.movement.mapper.AdvisoryMapper">
    <resultMap id="BaseResultMap" type="com.physical.movement.entity.Advisory">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="checkboy" jdbcType="VARCHAR" property="checkboy"/>
        <result column="flag" jdbcType="INTEGER" property="flag"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="Nselect" jdbcType="INTEGER" property="nselect"/>
        <result column="Nimage" jdbcType="VARCHAR" property="nimage"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="article" jdbcType="LONGVARCHAR" property="article"/>
        <result column="Ncause" jdbcType="LONGVARCHAR" property="ncause"/>
        <result column="intro" jdbcType="LONGVARCHAR" property="intro"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, title, checkboy, flag, author, Nselect, Nimage, gmt_create, gmt_modified
  </sql>
    <sql id="Blob_Column_List">
    article, Ncause, intro
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from advisory
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from advisory
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.physical.movement.entity.AdvisoryWithBLOBs">
    insert into advisory (id, title, checkboy, 
      flag, author, Nselect, 
      Nimage, gmt_create, gmt_modified, 
      article, Ncause, intro
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{checkboy,jdbcType=VARCHAR}, 
      #{flag,jdbcType=INTEGER}, #{author,jdbcType=VARCHAR}, #{nselect,jdbcType=INTEGER}, 
      #{nimage,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{article,jdbcType=LONGVARCHAR}, #{ncause,jdbcType=LONGVARCHAR}, #{intro,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.physical.movement.entity.AdvisoryWithBLOBs">
        insert into advisory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="checkboy != null">
                checkboy,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="nselect != null">
                Nselect,
            </if>
            <if test="nimage != null">
                Nimage,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="article != null">
                article,
            </if>
            <if test="ncause != null">
                Ncause,
            </if>
            <if test="intro != null">
                intro,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="checkboy != null">
                #{checkboy,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=INTEGER},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="nselect != null">
                #{nselect,jdbcType=INTEGER},
            </if>
            <if test="nimage != null">
                #{nimage,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="article != null">
                #{article,jdbcType=LONGVARCHAR},
            </if>
            <if test="ncause != null">
                #{ncause,jdbcType=LONGVARCHAR},
            </if>
            <if test="intro != null">
                #{intro,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.physical.movement.entity.AdvisoryWithBLOBs">
        update advisory
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="checkboy != null">
                checkboy = #{checkboy,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="nselect != null">
                Nselect = #{nselect,jdbcType=INTEGER},
            </if>
            <if test="nimage != null">
                Nimage = #{nimage,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="article != null">
                article = #{article,jdbcType=LONGVARCHAR},
            </if>
            <if test="ncause != null">
                Ncause = #{ncause,jdbcType=LONGVARCHAR},
            </if>
            <if test="intro != null">
                intro = #{intro,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.physical.movement.entity.AdvisoryWithBLOBs">
    update advisory
    set title = #{title,jdbcType=VARCHAR},
      checkboy = #{checkboy,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      Nselect = #{nselect,jdbcType=INTEGER},
      Nimage = #{nimage,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      article = #{article,jdbcType=LONGVARCHAR},
      Ncause = #{ncause,jdbcType=LONGVARCHAR},
      intro = #{intro,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.physical.movement.entity.Advisory">
    update advisory
    set title = #{title,jdbcType=VARCHAR},
      checkboy = #{checkboy,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      Nselect = #{nselect,jdbcType=INTEGER},
      Nimage = #{nimage,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>