<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.physical.movement.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="com.physical.movement.entity.Message">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="checkboy" jdbcType="VARCHAR" property="checkboy" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="mess" jdbcType="LONGVARCHAR" property="mess" />
    <result column="apply" jdbcType="LONGVARCHAR" property="apply" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, flag, title, checkboy, gmt_create, gmt_modified
  </sql>
  <sql id="Blob_Column_List">
    mess, apply
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.physical.movement.entity.MessageWithBLOBs">
    insert into message (id, name, flag, 
      title, checkboy, gmt_create, 
      gmt_modified, mess, apply
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{checkboy,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{mess,jdbcType=LONGVARCHAR}, #{apply,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.physical.movement.entity.MessageWithBLOBs">
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="checkboy != null">
        checkboy,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="mess != null">
        mess,
      </if>
      <if test="apply != null">
        apply,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="checkboy != null">
        #{checkboy,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="mess != null">
        #{mess,jdbcType=LONGVARCHAR},
      </if>
      <if test="apply != null">
        #{apply,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.physical.movement.entity.MessageWithBLOBs">
    update message
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="checkboy != null">
        checkboy = #{checkboy,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="mess != null">
        mess = #{mess,jdbcType=LONGVARCHAR},
      </if>
      <if test="apply != null">
        apply = #{apply,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.physical.movement.entity.MessageWithBLOBs">
    update message
    set name = #{name,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      checkboy = #{checkboy,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      mess = #{mess,jdbcType=LONGVARCHAR},
      apply = #{apply,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.physical.movement.entity.Message">
    update message
    set name = #{name,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      checkboy = #{checkboy,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.physical.movement.entity.Message">
    <result column="Mid" jdbcType="INTEGER" property="mid" />
    <result column="Mname" jdbcType="VARCHAR" property="mname" />
    <result column="Mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="Mflag" jdbcType="INTEGER" property="mflag" />
    <result column="Mtitle" jdbcType="VARCHAR" property="mtitle" />
    <result column="Mcheckboy" jdbcType="VARCHAR" property="mcheckboy" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.physical.movement.entity.MessageWithBLOBs">
    <result column="Mess" jdbcType="LONGVARCHAR" property="mess" />
    <result column="Mapply" jdbcType="LONGVARCHAR" property="mapply" />
  </resultMap>
  <sql id="Blob_Column_List">
    Mess, Mapply
  </sql>
  <insert id="insert" parameterType="com.physical.movement.entity.MessageWithBLOBs">
    insert into message (Mid, Mname, Mtime, 
      Mflag, Mtitle, Mcheckboy, 
      Mess, Mapply)
    values (#{mid,jdbcType=INTEGER}, #{mname,jdbcType=VARCHAR}, #{mtime,jdbcType=TIMESTAMP}, 
      #{mflag,jdbcType=INTEGER}, #{mtitle,jdbcType=VARCHAR}, #{mcheckboy,jdbcType=VARCHAR}, 
      #{mess,jdbcType=LONGVARCHAR}, #{mapply,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.physical.movement.entity.MessageWithBLOBs">
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        Mid,
      </if>
      <if test="mname != null">
        Mname,
      </if>
      <if test="mtime != null">
        Mtime,
      </if>
      <if test="mflag != null">
        Mflag,
      </if>
      <if test="mtitle != null">
        Mtitle,
      </if>
      <if test="mcheckboy != null">
        Mcheckboy,
      </if>
      <if test="mess != null">
        Mess,
      </if>
      <if test="mapply != null">
        Mapply,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="mname != null">
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mtime != null">
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="mflag != null">
        #{mflag,jdbcType=INTEGER},
      </if>
      <if test="mtitle != null">
        #{mtitle,jdbcType=VARCHAR},
      </if>
      <if test="mcheckboy != null">
        #{mcheckboy,jdbcType=VARCHAR},
      </if>
      <if test="mess != null">
        #{mess,jdbcType=LONGVARCHAR},
      </if>
      <if test="mapply != null">
        #{mapply,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>