<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-merged.css">
    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script type="text/javascript" src="/js/wangEditor.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/vendor/html5shiv.min.js"></script>
    <script src="/js/vendor/respond.min.js"></script>
    <script type="text/javascript" src="/js/wangEditor.min.js"></script>
    <![endif]-->
</head>
<body>
<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 probootstrap-animate">
                <form action="#" method="post" id="form" class="probootstrap-form">
                    <div class="form-group">
                        <label for="name">队伍名字</label>
                        <input type="text" class="form-control" th:value="${game.enemy}" id="name" name="name"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="email">邮箱地址</label>
                        <input type="email" th:value="${team.teamemail}" class="form-control" id="email" name="email"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="subject">回应主题</label>
                        <input type="text" class="form-control" onblur="" id="subject" name="subject" readonly>
                    </div>
                    <div class="form-group">
                        <label for="subject">比赛时间</label>
                        <input type="text" class="form-control" id="time" th:value="${game.gmtModified}" name="time" readonly>
                    </div>
                    <div class="form-group">
                        <label id="message">内容</label>
                        <div id="editor">
                            <th:block th:utext="${game.result}"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">答复</label>
                        <div class="layui-input-block" for="n_flag">
                            <input type="radio" name="n_flag" value="0" title="迎战" checked>
                            <input type="radio" name="n_flag" value="1" title="拒绝">
                        </div>
                    </div>
                    <input type="hidden" th:value="${team.id}" name="id" id="id">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">发送</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-md-push-1 probootstrap-animate">

            </div>
        </div>
    </div>
</section>
<script src="/js/scripts.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/js/custom.js"></script>

</body>
<script>
    var E = window.wangEditor;
    var E = window.wangEditor;
    var editor = new E('#editor');
    var images;
    editor.customConfig.showLinkImg = false;
    editor.customConfig.uploadFileName = 'myFileName';
    editor.customConfig.uploadImgServer = 'upload';
    editor.customConfig.uploadImgHooks = {
        customInsert: function (insertImg, result, editor) {
            var url = result.data;
            images = url;
            insertImg(url);
        }
    };
    editor.create();
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            let message = editor.txt.html();
            let id = $("#id").val();
            let name = $("#name").val();
            let email = $("#email").val();
            let time = $("#time").val();
            let subject = $("#subject").val();
            $.ajax(
                {
                    url: "/game/sendGameApply",
                    type: "POST",
                    data: {message: message, name: name, email: email, subject: subject, id: id, time: time},
                    success: function (data) {
                        console.log(data);//打印服务端返回的数据(调试用)
                        if (data.success) {
                            alert(data.msg);
                            window.parent.layer.closeAll();
                            window.parent.location.reload();
                        } else {
                            alert(data.msg);
                            window.parent.layer.closeAll();
                            window.parent.location.reload();
                        }
                    }
                }
            );
            //Demo
            return false;
        });
    });

    function verfiy() {
        var message = document.getElementById('message').value;//内容
        if (message == "") {
            alert('发送内容不能为空');
            document.form.message.focus();
        } else {
            document.form.submit();
        }
    }

    function verfiy2() {
        var subject = document.getElementById('subject').value;//测试主题
        if (subject == "") {
            alert('主题不能为空');
            document.form.subject.focus();
        } else {
            document.form.submit();
        }
    }
</script>
</html>