<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/wangEditor.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" id="form">
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="x-red">*</span>队伍名字</label>
                <div class="layui-input-inline">
                    <input type="text" id="name" th:value="${game.enemy}" readonly="readonly"
                           name="name" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="email" class="layui-form-label">
                    <span class="x-red">*</span>邮箱地址</label>
                <div class="layui-input-inline">
                    <input type="text" id="email" th:value="${team.teamemail}"
                           name="email" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="subject" class="layui-form-label">
                    <span class="x-red">*</span>回应主题</label>
                <div class="layui-input-inline">
                    <input type="text" id="subject"  onblur="verfiy2()"
                           name="subject" required="" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="time" class="layui-form-label">
                    <span class="x-red">*</span>比赛时间</label>
                <div class="layui-input-inline">
                    <input type="text" id="time" th:id="subject" onblur="verfiy3()"
                           name="subject" required="" th:value="${game.gmtModified}" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>内容：</label>
            </div>
            <div class="layui-form-item layui-form-text">
                <div id="editor">
                    <span th:utext="${game.result}">"</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">答复</label>
                <div class="layui-input-block" for="n_flag">
                    <input type="radio" name="n_flag" value="1" title="迎战" checked>
                    <input type="radio" name="n_flag" value="2" title="拒绝">
                </div>
            </div>
            <input type="hidden" th:value="${team.id}" name="id" id="id">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">发送</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    var E = window.wangEditor;
    var E = window.wangEditor;
    var editor = new E('#editor');
    var images;
    editor.customConfig.showLinkImg = false;
    editor.customConfig.uploadFileName = 'myFileName';
    editor.customConfig.uploadImgServer = '/game/upload';
    editor.customConfig.uploadImgHooks = {
        customInsert: function (insertImg, result, editor) {
            var url = result.data;
            images = url;
            insertImg(url);
        }
    };
    editor.create();
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            let message = editor.txt.html();
            let id = $("#id").val();
            let name = $("#name").val();
            let email = $("#email").val();
            let time = $("#time").val();
            let subject = $("#subject").val();
            $.ajax(
                {
                    url: "/game/sendGameApply",
                    type: "POST",
                    data: {message: message, name: name, email: email, subject: subject, id: id, time: time},
                    success: function (data) {
                        console.log(data);//打印服务端返回的数据(调试用)
                        if (data.success) {
                            alert(data.msg);
                            window.parent.layer.closeAll();
                            window.parent.location.reload();
                        } else {
                            alert(data.msg);
                            window.parent.layer.closeAll();
                            window.parent.location.reload();
                        }
                    }
                }
            );
            //Demo
            return false;
        });
    });

    function verfiy() {
        var message = document.getElementById('message').value;//内容
        if (message == "") {
            alert('发送内容不能为空');
            document.form.message.focus();
        } else {
            document.form.submit();
        }
    }

    function verfiy2() {
        var subject = document.getElementById('subject').value;//测试主题
        if (subject == "") {
            alert('主题不能为空');
            document.form.subject.focus();
        } else {
            document.form.submit();
        }
    }
</script>
</html>