<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.physical.movement.mapper.MessageMapper">
    <resultMap id="BaseResultMap" type="com.physical.movement.entity.Message">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="flag" jdbcType="INTEGER" property="flag"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="checkboy" jdbcType="VARCHAR" property="checkboy"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="mess" jdbcType="LONGVARCHAR" property="mess"/>
        <result column="apply" jdbcType="LONGVARCHAR" property="apply"/>
    </resultMap>
    <sql id="Base_Column_List">
    id,uid, name, flag, title, checkboy, gmt_create, gmt_modified,mess, apply
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from message
        where id = #{id,jdbcType=INTEGER}
    </select>
    <sql id="WHERE_SELECT_CONDIYION">
        <where>
            1=1
            <if test="id!=null">
                and id = #{id}
            </if>
            <if test="uid!=null">
                and uid = #{uid}
            </if>
            <if test="title!=null and title!=''">
                and title like concat("%",#{title},"%")
            </if>
            <if test="flag!=null and flag!=''">
                and flag = #{flag}
            </if>
        </where>
    </sql>
    <select id="selectAll" parameterType="com.physical.movement.entity.Message" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from message
        <include refid="WHERE_SELECT_CONDIYION"/>
        order by gmt_modified desc,id desc
    </select>
    <select id="select" parameterType="com.physical.movement.entity.Message" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from message
        <include refid="WHERE_SELECT_CONDIYION"/>
        order by gmt_modified desc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.physical.movement.entity.Message">
    insert into message (id,uid, name, flag,
      title, checkboy, gmt_create, 
      gmt_modified, mess, apply
      )
    values (null,#{uid}, #{name,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER},
      #{title,jdbcType=VARCHAR}, #{checkboy,jdbcType=VARCHAR}, now(),
      now(), #{mess,jdbcType=LONGVARCHAR}, #{apply,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.physical.movement.entity.Message">
        insert into message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="checkboy != null">
                checkboy,
            </if>
            gmt_create,
            gmt_modified,
            <if test="mess != null">
                mess,
            </if>
            <if test="apply != null">
                apply,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="checkboy != null">
                #{checkboy,jdbcType=VARCHAR},
            </if>
            now(),
            now(),
            <if test="mess != null">
                #{mess,jdbcType=LONGVARCHAR},
            </if>
            <if test="apply != null">
                #{apply,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.physical.movement.entity.Message">
        update message
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="checkboy != null">
                checkboy = #{checkboy,jdbcType=VARCHAR},
            </if>
                gmt_create = now(),
                gmt_modified = now(),
            <if test="mess != null">
                mess = #{mess,jdbcType=LONGVARCHAR},
            </if>
            <if test="apply != null">
                apply = #{apply,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectCount" resultType="INTEGER">
        SELECT COUNT(1) FROM message;
    </select>
</mapper>