<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.physical.movement.mapper.UserTeamRefMapper">
    <resultMap id="BaseResultMap" type="com.physical.movement.entity.UserTeamRef">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="userid" jdbcType="INTEGER" property="userid"/>
        <result column="teamid" jdbcType="INTEGER" property="teamid"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, userid, teamid, gmt_create, gmt_modified
    </sql>
    <select id="selectUserTeam" parameterType="UserTeamRef" resultType="com.physical.movement.entity.vo.UserTeamVo">
        select
        a.username, a.password, a.salt,a.email,a.image, a.usertype, a.phone, a.status, a.sex,a.truename,a.studentid,
        b.teamname,b.teamemail, b.teamtype, b.teamleader, b.teamleaderid, b.flag ,b.reason, b.cause,b.intro,
        c.id, c.userid, c.teamid, c.gmt_create, c.gmt_modified
        from sysuser a,team b,user_team_ref c
        <where>
            1>2
            <if test="teamid!=null">
                or c.teamid = #{teamid} and c.userid = b.id and b.id = #{teamid}
            </if>
            <if test="userid!=null">
                or c.userid = #{userid} and c.teamid = b.id and a.id = #{userid}
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_team_ref
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_team_ref
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.physical.movement.entity.UserTeamRef">
    insert into user_team_ref (id, userid, teamid, 
      gmt_create, gmt_modified)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{teamid,jdbcType=INTEGER}, 
      now(), now())
  </insert>
    <insert id="insertSelective" parameterType="com.physical.movement.entity.UserTeamRef">
        insert into user_team_ref
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="teamid != null">
                teamid,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="teamid != null">
                #{teamid,jdbcType=INTEGER},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.physical.movement.entity.UserTeamRef">
        update user_team_ref
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="teamid != null">
                teamid = #{teamid,jdbcType=INTEGER},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            gmt_modified = now()
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.physical.movement.entity.UserTeamRef">
    update user_team_ref
    set userid = #{userid,jdbcType=INTEGER},
      teamid = #{teamid,jdbcType=INTEGER},
      gmt_modified = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>