<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>后台登录-X-admin2.2</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="/js/wangEditor.min.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">题目</label>
                <div class="layui-input-block">
                    <input type="text" name="n_title" id="n_title" lay-verify="required" th:value="${advisory.title}"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">作者</label>
                <div class="layui-input-inline">
                    <input type="text" id="n_author" name="n_author" required lay-verify="required"
                           th:value="${advisory.author}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">简介</label>
                <div class="layui-input-block">
                    <textarea id="nintro" rows="5" cols="30" name="nintro" required lay-verify="required"
                              placeholder="请输入文章简介" autocomplete="off" class="layui-input"><th:block
                            th:text="${advisory.intro}"></th:block></textarea>
                </div>
            </div>
            <input type="hidden" id="n_id" name="n_id" th:value="${advisory.id}">
            <div class="layui-form-item layui-form-text">
                <div id="editor">
                    <span th:utext=" ${advisory.article}">"</span>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-filter="add" lay-submit="">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var E = window.wangEditor
    var images;
    var editor = new E('#editor');
    editor.customConfig.showLinkImg = false;
    editor.customConfig.uploadFileName = 'myFileName';
    editor.customConfig.uploadImgServer = 'upload';
    editor.customConfig.uploadImgMaxSize = "100000000000";
    editor.customConfig.uploadImgHooks = {
        customInsert: function (insertImg, result, editor) {
            var url = result.data;
            images = url;
            insertImg(url);
        }
    };
    editor.create()

    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(add)', function (data) {
            var n_id = $("#n_id").val();
            var n_title = $("#n_title").val();
            var n_article = editor.txt.html();
            var n_author = $("#n_author").val();
            var nintro = $("#nintro").val();
            $.ajax({
                url: "/advisory/updateArticle",
                type: "POST",
                data: {
                    n_id: n_id,
                    n_title: n_title,
                    n_article: n_article,
                    n_author: n_author,
                    images: images,
                    ninro: nintro
                },
                success: function (data) {
                    if (data) {
                        confirm(data.msg);
                        window.parent.layer.closeAll();
                        window.parent.location.reload();
                    }
                }

            });
            //Demo
            return false;
        });
    });
</script>
</body>

</html>
