<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>后台登录-X-admin2.2</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="/js/wangEditor.min.js"></script>
</head>
<body>
<div class="content whisper-content leacots-content details-content">
    <div class="cont w1000">
        <div class="whisper-list">
            <div class="item-box">
                <div class="review-version">
                    <div class="form-box">
                        <div class="article-cont">
                            <div class="title">
                                <h1>队伍名字：<b>
                                    <th:block th:text="${team.teamname}"></th:block>
                                </b></h1>
                                <br><br>
                                <p class="cont-info">
                                    <span class="data">创建时间：<span th:text="${team.gmtCreate}"></span></span>
                                    <span>队长：<span th:text="${team.teamleader}"></span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br/><br/><br/>
                    <form class="layui-form">
                        <input type="hidden" id="mid" name="mid" th:value="${team.id}">
                        <div class="layui-form-item layui-form-text">
                            <div id="editor">
                                <span th:utext=" ${team.intro}">"</span>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="formDemo" lay-submit="formDemo">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var E = window.wangEditor
    var images;
    var editor = new E('#editor');
    editor.customConfig.showLinkImg = false;
    editor.customConfig.uploadFileName = 'myFileName';
    editor.customConfig.uploadImgServer = '/team/upload';
    editor.customConfig.uploadImgHooks = {
        customInsert: function (insertImg, result, editor) {
            var url =result.data;
            images = url;
            insertImg(url);
        }
    };
    editor.create()
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        //监听提交
        form.on('submit(formDemo)', function (data) {
            var mid = $("#mid").val();
            var intro =  editor.txt.html();
            $.ajax(
                {
                    url: "/team/submitApply",
                    type: "POST",
                    data: {mid: mid, intro: intro},
                    success: function (data) {
                        if (data) {
                            confirm(data.msg);
                            window.parent.layer.closeAll();
                            window.parent.location.reload();
                        }
                    }

                }
            );
            //Demo
            return false;
        });
    });
</script>
</html>
