<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>contact</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/sports/css/styles-merged.css">
    <link rel="stylesheet" href="/sports/css/style.min.css">
    <link rel="stylesheet" href="/sports/css/custom.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!--[if lt IE 9]>
    <script src="/sports/js/vendor/html5shiv.min.js"></script>
    <script src="/sports/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>


<nav class="navbar navbar-default probootstrap-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home/index">首页</a></li>
                <li><a href="/home/news">精彩校园</a></li>
                <li><a href="/home/gallery">体育趣图</a></li>
                <li><a href="/home/about">关于我们</a></li>
                <li><a href="/admin/index">个人中心</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">更多</a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/testimonial">篮球文章</a></li>
                        <li><a href="/home/cause-single">足球文章</a></li>
                        <li><a href="/home/causes">其他体育</a></li>
                        <li><a href="/home/schoolteam">校园队伍</a></li>
                        <li class="active"><a href="/home/contact">联系我们</a></li>
                    </ul>
                </li>
                <li th:if="${session.username==null}" class="probootstra-cta-button last"><a href="/login/login"
                                                                                             class="btn btn-primary">登录</a>
                </li>
                <li th:if="${session.username!=null}" class="probootstra-cta-button last"><a href="#"
                                                                                             class="btn btn-primary">
                    <th:block th:text="${session.username}"/>
                </a></li>
                <li th:if="${session.username!=null}"><a href="/login/logout">退出</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="probootstrap-hero probootstrap-hero-inner" style="background-image: url(/sports/img/hero_bg_bw_1.jpg)"
         data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="probootstrap-slider-text probootstrap-animate" data-animate-effect="fadeIn">
                    <h1 class="probootstrap-heading probootstrap-animate">联系我们 <span>让我们一起运动起来</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 probootstrap-animate">
                <form action="#" method="post" class="probootstrap-form">
                    <div class="form-group">
                        <label for="subject">留言主题</label>
                        <input type="text" class="form-control" id="subject" name="subject">
                    </div>
                    <div class="form-group">
                        <label for="message">内容</label>
                        <textarea cols="30" rows="10" class="form-control" id="message" name="message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" onclick="contact()" class="btn btn-primary btn-lg" id="submit"
                               name="submit" value="留言">
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-md-push-1 probootstrap-animate">


                <h4>会员</h4>
                <ul class="probootstrap-contact-info">
                    <li><i class="icon-pin"></i> <span>如果您是我们的会员，您的留言将会在后台可以查看</span></li>
                </ul>

                <h4>游客</h4>
                <ul class="probootstrap-contact-info">
                    <li><i class="icon-pin"></i> <span>如果您是游客，我们同样会重视您提供的建议进行考虑</span></li>
                </ul>

                <h4>大家</h4>
                <ul class="probootstrap-contact-info">
                    <li><i class="icon-pin"></i> <span>让我们一起建造属于我们的运动校园平台吧</span></li>
                </ul>

            </div>
        </div>
    </div>
</section>


<footer class="probootstrap-footer probootstrap-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 probootstrap-animate">
                <div class="probootstrap-footer-widget">
                    <h3>关于我们</h3>
                    <p>提高学生们对运动的积极性和营造良好的校园体育运动氛围。</p>
                </div>
            </div>

            <div class="col-md-4 probootstrap-animate">
                <div class="probootstrap-footer-widget">
                    <h3>联系我们</h3>
                    <ul class="probootstrap-contact-info">
                        <li><i class="icon-location2"></i> <span>广东省华南理工大学华软学院</span></li>
                        <li><i class="icon-mail"></i><span>1538345680@qq.com</span></li>
                        <li><i class="icon-phone2"></i><span>+15875874574</span></li>
                    </ul>

                </div>
            </div>

            <div class="col-md-4 probootstrap-animate">
                <div class="probootstrap-footer-widget">
                    <h3>运动</h3>
                    <p>
                        体育运动作为消闲娱乐的一种手段，日益成为现代文明生活中的一项时尚享受。
                    <p><a href="/home/contact" class="btn btn-primary">联系我们</a></p>
                </div>
            </div>

        </div>
        <!-- END row -->

    </div>

</footer>

<script src="/sports/js/scripts.min.js"></script>
<script src="/sports/js/main.min.js"></script>
<script src="/sports/js/custom.js"></script>
<script>
    function contact() {
        let subject = $("#subject").val();
        let message = $("#message").val();
        $.ajax({
                url: "/home/contactSubmit",
                type: "POST",
                data: {message: message, subject: subject},
                success: function (data) {
                    console.log(data);//打印服务端返回的数据(调试用)
                    if (data.success) {
                        confirm(data.msg);
                    } else {
                        confirm(data.msg);
                    }
                }
            }
        )
        ;
    }
</script>
</body>
</html>