<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/sports/css/styles-merged.css">
    <link rel="stylesheet" href="/sports/css/style.min.css">
    <link rel="stylesheet" href="/sports/css/custom.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


<nav class="navbar navbar-default probootstrap-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" title="uiCookies:Enlight">Enlight</a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home/index">首页</a></li>
                <li><a href="/home/news">精彩校园</a></li>
                <li><a href="/home/causes">体育趣图</a></li>
                <li><a href="/home/about">关于我们</a></li>
                <li><a href="/admin/index">个人中心</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">更多</a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/testimonial">篮球文章</a></li>
                        <li><a href="/home/cause-single">足球文章</a></li>
                        <li><a href="/home/gallery">其他体育</a></li>
                        <li class="active"><a href="/home/schoolteam">校园队伍</a></li>
                        <li><a href="/home/contact">联系我们</a></li>
                    </ul>
                </li>
                <li th:if="${session.username==null}" class="probootstra-cta-button last"><a href="/login/login"
                                                                                             class="btn btn-primary">登录</a>
                </li>
                <li th:if="${session.username!=null}" class="probootstra-cta-button last"><a href="#"
                                                                                             class="btn btn-primary">
                    <th:block th:text="${session.username}"/>
                </a></li>
                <li th:if="${session.username!=null}"><a href="/login/logout">退出</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="probootstrap-hero probootstrap-hero-inner" style="background-image: url(/sports/img/hero_bg_bw_3.jpg)"
         data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="probootstrap-slider-text probootstrap-animate" data-animate-effect="fadeIn">
                    <h1 class="probootstrap-heading probootstrap-animate">校园队伍<span>看看有没有你心仪的队伍</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <form class="layui-form layui-col-space5" action="/home/schoolteam" method="post">
                            <div class="layui-input-inline layui-show-xs-block">
                                <input type="text" class="layui-input" placeholder="请输入队伍关键字查询" name="key" id="key"
                                       th:value="${key}"></div>
                            队伍类型：
                            <div class="layui-input-inline layui-show-xs-block">
                                <select id="check" name="check">
                                    <tr th:each="sports:${SportsType}">
                                        <option th:value="${sports.key}"
                                                th:selected="${sports.key==check?'selected':''}">
                                            <th:block th:text="${sports.value.name}"/>
                                        </option>
                                </select>
                            </div>
                            <div class="layui-input-inline layui-show-xs-block">
                                <input type="radio" name="flag" value="0" title="全部队伍"
                                       th:text="${flag==0?'checked':''}">
                                <input type="radio" name="flag" value="1" title="我的队伍"
                                       th:text="${flag==1?'checked':''}">
                            </div>
                            <div class="layui-input-inline layui-show-xs-block">
                                <button type="submit" class="layui-btn" lay-submit="" lay-filter="sreach">
                                    <i class="layui-icon">&#xe615;</i></button>
                            </div>
                        </form>
                    </div>
                    <div class="layui-card-body ">
                        <table class="layui-table layui-form">
                            <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" lay-filter="checkall" name="" lay-skin="primary">
                                </th>
                                <th>队长</th>
                                <th>队名</th>
                                <th>队伍类型</th>
                                <th>联系方式</th>
                                <th>创建时间</th>
                            </thead>
                            <tbody>
                            <tr th:each="team:${tlist.list}">
                                <td>
                                    <input type="checkbox" name="id" th:value="${team.id}" lay-skin="primary">
                                </td>
                                <td th:text="${team.teamleader}"></td>
                                <td th:text="${team.teamname}"></td>
                                <th:block th:each="sports:${SportsType}">
                                    <td th:if="${team.teamtype==sports.key}" th:text="${sports.value.name}"></td>
                                </th:block>
                                <td th:text="${team.teamemail}"></td>
                                <td th:text="${team.gmtCreate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="layui-card-body ">
                        <div class="page">
                            <div>
                                <a aria-label="Previous" id="firstpage"
                                   th:href="@{/home/schoolteam(pageNum=1,key=${key},check=${check},flag=${flag})}">首页</a>
                                <a th:if="${tlist.pageNum} > '1'" id="previouspage"
                                   th:href="@{/home/schoolteam(pageNum=${tlist.prePage},key=${key},check=${check},flag=${flag})}"
                                   aria-label="Previous">
                                    &lt;&lt;</a>
                                <!--   当前页数 ，方便js调用 display:none;隐藏        -->
                                <span style="display:none;" id="pagenums">[[${tlist.pageNum}]]</span>
                                <th:block class="pagination" th:each="pagenum:${pagenums}">
                                    <!--	${#httpServletRequest.getRequestURL()}表示当前url，href中也可以不写，如下直接加参数		 -->
                                    <a class="num layui-btn layui-btn-warm" th:if="${tlist.pageNum==pagenum}"
                                       th:href="@{/home/schoolteam(pageNum=${pagenum},key=${key},check=${check},flag=${flag})}">[[${pagenum}]]</a>

                                    <a class="num" th:if="${tlist.pageNum!=pagenum}" th:class="'pagenum'+${pagenum}"
                                       th:href="@{/home/schoolteam(pageNum=${pagenum},key=${key},check=${check},flag=${flag})}">[[${pagenum}]]</a>
                                </th:block>
                                <a class="next" th:if="${tlist.pageNum} < ${tlist.pages}" id="nextpage"
                                   th:href="@{/home/schoolteam(pageNum=${tlist.nextPage},key=${key},check=${check},flag=${flag})}"
                                   aria-label="Next">
                                    &gt;&gt;</a>
                                <a id="endpage"
                                   th:href="@{/home/schoolteam(pageNum=${tlist.pages},key=${key},check=${check},flag=${flag})}">末页</a>
                                <span aria-label="Next">相关记录[[${tlist.total}]]条，共[[${tlist.pages}]]页。</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="probootstrap-footer probootstrap-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 probootstrap-animate">
                <div class="probootstrap-footer-widget">
                    <h3>关于我们</h3>
                    <p>通过我们这个公益自助平台，我们希望可以让更多的人可以参加到公益社会，爱心社会的建设中来，以实现爱心献社会温暖暖人间的目标。</p>
                </div>
            </div>

            <div class="col-md-4 probootstrap-animate">
                <div class="probootstrap-footer-widget">
                    <h3>联系我们</h3>
                    <ul class="probootstrap-contact-info">
                        <li><i class="icon-location2"></i> <span>广东省东莞市东莞理工学院</span></li>
                        <li><i class="icon-mail"></i><span>c1063493030</span></li>
                        <li><i class="icon-phone2"></i><span>+13433623007</span></li>
                    </ul>

                </div>
            </div>

            <div class="col-md-4 probootstrap-animate">
                <div class="probootstrap-footer-widget">
                    <h3>公益</h3>
                    <p>
                        爱心是冬日里的一片阳光，使饥寒交迫的人分外感到人间的温暖。爱心是沙漠中的一泓泉水，使濒临绝境的人重新看到生活的希望。爱心是夜空中的一轮明月，使孤苦无依的人即刻获得心灵的慰藉。爱心是春天里的一场细雨，使心灵枯萎的人特别感到情感的滋润。爱心是夏日里的一阵清风，使心急如焚的人感到无比的凉爽。爱心是黑夜里的一座灯塔，使迷失方向的航船找到停靠的港湾</p>
                    <p><a href="donate" class="btn btn-primary">捐赠</a></p>
                </div>
            </div>

        </div>
        <!-- END row -->

    </div>

</footer>

<script src="/sports/js/scripts.min.js"></script>
<script src="/sports/js/main.min.js"></script>
<script src="/sports/js/custom.js"></script>
<script type="text/javascript" src="/js/xcity.js"></script>
<script>
    layui.use(['form', 'code'], function () {
        form = layui.form;

        layui.code();

        $('#start').xcity();

    });
    layui.use(['laydate', 'form'], function () {
        var laydate = layui.laydate;
        var form = layui.form;

    });
</script>
</body>
</html>